ABOUT-NLS
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
confdefs.h
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
config.*~
configure
depcomp
install-sh
intl
libltdl
libtool
ltmain.sh
m4
missing
mkinstalldirs
po/POTFILES
po/*.gmo
po/*~
po/stamp-po
po/Makefile.in.in
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
scim-hangul.spec
skim/ABOUT-NLS
skim/COPYING
skim/ChangeLog
skim/INSTALL
skim/Makefile.in
skim/NEWS
skim/acinclude.m4
skim/aclocal.m4
skim/admin
skim/autom4te.cache
skim/config.h.in
skim/config.log
skim/configure
skim/configure.files
skim/configure.in
skim/icons/Makefile.in
skim/po/Makefile.in
skim/setupui/Makefile.in
skim/stamp-h.in
skim/subdirs
*/Makefile
*/Makefile.in
*/.deps
*/.libs
*/*.la
*/*.lo
stamp-h1
