ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
confdefs.h
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intl/Makefile
libltdl
libtool
ltmain.sh
m4
missing
po/POTFILES
po/*.gmo
po/stamp-po
scim-hangul.spec
skim/ABOUT-NLS
skim/COPYING
skim/ChangeLog
skim/INSTALL
skim/Makefile.in
skim/NEWS
skim/acinclude.m4
skim/aclocal.m4
skim/admin
skim/autom4te.cache
skim/config.h.in
skim/config.log
skim/configure
skim/configure.files
skim/configure.in
skim/icons/Makefile.in
skim/po/Makefile.in
skim/setupui/Makefile.in
skim/stamp-h.in
skim/subdirs
*/Makefile
*/Makefile.in
*/.deps
*/.libs
*/*.la
*/*.lo
stamp-h1
